@charset "UTF-8";

div, span, object, iframe, blockquote, pre, a, abbr, cite, code, em, font, img, q, s, samp, small, strike, strong, sub, sup, b, u, i, center, ul, li, fieldset, form, label, legend, table, caption, tbody, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #F4F5F7;
    font-family: "Open Sans","lucida grande","Segoe UI",tahoma,sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #3d464d;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-x: hidden;
    letter-spacing: 0.2px;
}

hr {
    margin: 1em 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #985527;
    animation: border-colors 20s ease-in-out infinite;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    td, th {
        padding: 0;
    }
}

input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #bbb;
}

input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #bbb;
}

//noinspection CssInvalidPseudoSelector
input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #bbb;
}
