menu {
    margin: 0;
    padding: 1rem;
    width: 100%;

    a {
        color: #6a6f7d;
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin-right: 1rem;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover, &.selected {
            color: #000;
        }
    }
}
